//////////////////////////////
/// color
//////////////////////////////
$cBlack: #333333;
$cGreen: #839C96;
$cOrange: #E1B58B;
$cBcc: #F4F2E0;
$cBlue: #AACBD0;

//////////////////////////////
/// ease
//////////////////////////////
$ease: cubic-bezier(.35,0,.1,.99);