@use "app/styles/common.scss" as *;

.merit {
    @extend .section;
    color: white;
    max-width: 1100px;
    margin: 0 auto;


    @include mq(md) {
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }

    &__inner {
        padding: 30px 15px;
        background-color: $cOrange;
        @extend .mb-sm;

        @include mq(md) {
            flex: 1;

        }

        &__headline {
            &__h3 {
                @extend .mb-sm;
            }

        }


        &__description {
            &__p {}

        }

    }
}