@use "app/styles/common.scss" as *;

.container {
    padding: 0 8%;
    position: relative;
    background-color: $cBlue;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    @extend .mb-xl;

    @include mq(sm) {
        padding-top: 70px;
    }
}

.service {
    width: 100%;
    @extend .mb-md;

    @include mq(md) {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-right: calc(50% - 50vw)
    }

    @include mq(lg) {
        width: 90%;
    }

    &:nth-child(odd) {
        &.service {

            @include mq(lg) {
                max-width: 900px;
            }
        }
    }

    &:nth-child(even) {
        &.service {
            @include mq(lg) {
                flex-direction: row-reverse;
                margin-left: calc(50% - 33vw);
            }
        }
    }
}


.inner {
    position: relative;
    @extend .mb-sm;

    @include mq(md) {
        flex: 1;
        max-width: 400px;
    }

    &:before {
        content: "";
        width: 200px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 80px;
        left: 30px;
        transform: rotate(-45deg);
    }

    &__num {
        height: 100px;
        &__span:nth-of-type(1) {
            display: block;
        }

        &__span:nth-of-type(2) {
            display: block;
            @extend .font-num;
        }
    }


    &__h3 {
        @extend .font-lg;
        @extend .mb-md;
        margin-left: 120px;
    }

    &__p {
        max-width: 500px;
    }
}

.image {
    position: relative;
    width: 70vw;
    aspect-ratio: 3 / 2;
    margin-left: calc(50% - 20vw);

    @include mq(sm) {
        width: 50vw;
        margin-left: calc(50% - 0vw);

    }

    @include mq(md) {
        flex: 1;
        margin-left: auto;
    }

    @include mq(lg) {
        max-width: 450px;
    }

    & img {
        object-fit: cover;
    }
}

.svg {
    width: 100vw;
    max-width: 1920px;
    aspect-ratio: 9.6 / 1;
    position: absolute;
    left: 0;
    bottom: calc(-100vw / 9.6 + 1px);

    @include mq(max) {
        bottom: -199px;
    }
}